@font-face{
font-family:"Roboto-Italic";
src: url("../Fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../Fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MarckScript-Regular";
    src: url("../Fonts/MarckScript-Regular.ttf") format("truetype");
    font-weight: 700;
}
