@import "font.css";
@import "reset.css";
@import "./Components/index.css";

body{
    background-color: rgb(245, 241, 235);
}
.content-wraper{
    width: 900px;
    margin: 0 auto;
}

p {
    font-family: "MarckScript-Regular", sans-serif;   
    font-size: 30px;
}


