.footer {
    background-color: rgb(125, 95, 95);
}

.footer-text{
    color: rgb(187, 219, 247);
    display: inline-block;
    margin: 30px;
}

.blue-button{
    width: 300px;
    height: 50px;
    background-color: rgb(90, 90, 246);
    margin: 0 auto;
    border-radius: 10px;
    border: 3px solid rgb(35, 14, 14);
    display: block;
    text-transform: uppercase;
    
    letter-spacing: 3px;   
}

.blue-button :hover{
    color: aliceblue;
}