.content-header {
   margin-bottom: 150px;
}

.content-header__tittle {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+99,fd89d7+99,ff7cd8+100 */
    background: #fcecfc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcecfc 0%, #fba6e1 50%, #fd89d7 99%, #fd89d7 99%, #ff7cd8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcecfc 0%, #fba6e1 50%, #fd89d7 99%, #fd89d7 99%, #ff7cd8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcecfc 0%, #fba6e1 50%, #fd89d7 99%, #fd89d7 99%, #ff7cd8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=0);
    /* IE6-9 */
    width: 500px;
    height: 100px;
    font-size: 80px;
    margin: 0 auto;
      
}

.content-header__text {
    color: rgb(202, 124, 137);
    font-size: 50px;
}
.content-header__text span {
font-weight: 700;
color: darkred;
text-transform: uppercase;
letter-spacing: 5px;
}