.content__image{
   background-color: rgb(195, 226, 43);
   box-shadow: 5px 5px 15px;
   border-radius: 10px;
   width: 800px;
   height: 560px; 
   margin-bottom: 200px;
   padding: 50px;
}
.content__image img{
   width: 700px;
   margin: 0 auto;
   box-shadow: 5px 5px 15px;
}
