.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: rgb(127, 207, 239);
    border: 1px solid black;
}

.navbar__item {
    border: 3px solid blueviolet;
    background-color: silver;
    margin: 0 30px 0 30px;
    border-radius: 5px;
    display: inline-block;
    color: rgb(59, 61, 61);
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 35px;
    
}

.icon {
    margin: 0 0 0 80px;
    
}
.icon:hover{
    transform: translate(10px,10px);
    
 
}