.content-why{
margin-bottom: 100px;
}

.content-why__tittle{
    width: 700px;
    margin: 0 auto;
    font-size: 70px;
    color: indigo;
}

.content-why-list li{
    font-size: 34px;
    background: url("../../img/icon/iconlist.png") no-repeat left;
    margin-bottom: 60px;
    font-family: "Roboto-Italic",sans-serif;
    padding: 0 0 0 80px;
    color: darkslategrey;
}