.button {
    background: url("../../img/download.png") left/ 100px 100px no-repeat;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    font-size: 15px;
    padding: 5px 0 0 5px;
    color: red;
    
}
